  p {
    font-family: roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  body {
    /* This stle below will be inherited*/
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(247, 247, 247);
    text-decoration: none;
  }

  a {
  text-decoration: none; /* Remove the underline */
  color: inherit;        /* It makes it inherit the text color from the parent. */
}